$yellow-amber-100: #fffbd2;
$yellow-amber-200: #ffd870;
$yellow-amber-300: #fecf51;
$yellow-amber-400: #ffcb3e;
$yellow-amber-500: #ffbe0f;
$yellow-amber-600: #f6851d;
$yellow-amber-700: #f35801;
$yellow-amber-800: #883405;
$yellow-amber-900: #401406;
$grey-100: #fff;
$grey-200: #F2F2F2;
$grey-300: #D6D9DB;
$grey-400: #C2C6C9;
$grey-500: #9AA0A5;
$grey-600: #858C93;
$grey-700: #717981;
$grey-800: #404244;
$grey-900: #302C2C;
$success-100: #EBFAF2;
$success-200: #C2F0D9;
$success-300: #85E0B2;
$success-400: #5CD699;
$success-500: #33CC7F;
$success-600: #2EB872;
$success-700: #29A366;
$success-800: #248F59;
$success-900: #1F7A4C;
$info-100: #EDF8FD;
$info-200: #CAEAF8;
$info-300: #94D5F2;
$info-400: #71C7ED;
$info-500: #4DB9E9;
$info-600: #45A7D2;
$info-700: #3E94BA;
$info-800: #3682A3;
$info-900: #2E6F8C;
$warning-100: #FFF9EC;
$warning-200: #FFECC6;
$warning-300: #FFD88C;
$warning-400: #FFCB66;
$warning-500: #FFBE40;
$warning-600: #E6AB3A;
$warning-700: #CC9833;
$warning-800: #B3852D;
$warning-900: #997226;
$error-100: #FEF0F0;
$error-200: #FCD1D1;
$error-300: #F8A3A3;
$error-400: #F68585;
$error-500: #F46666;
$error-600: #DC5C5C;
$error-700: #C35252;
$error-800: #AB4747;
$error-900: #923D3D;
$blue-700: #071561;